{% extends "testingsystem/Main_Page.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'testingsystem/css/main.css' %}">
<style>
    #nonem {
        padding: 0px;
        width: 100%;

    }

    #nonem .edit-button a {
        position: relative;
        left: 790px;
        bottom: 10px;
        background: none repeat scroll 0 0 blue;
        color: white;
        padding: 6px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 4px;
    }

    #nonem .assign-button a {
        position: relative;
        left: 700px;
        bottom: 20px;
    }

    #nonem .assign-button a:hover {
        text-decoration: underline;
    }

    .table .row.hint {
        border-bottom: 1px solid #ddd;
        color: #888;
        font-size: 12px;
        font-weight: 400;
        height: 0;
        padding: 7px 0 21px 0px;
        text-shadow: 0 1px 0 #fff;
        text-indent: 6px;
    }
    .linksinafold{
        color: #444;
        -webkit-font-smoothing: antialiased;
        list-style: none outside none;
        word-wrap: break-word;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        margin: 5px 0 0 36px;
        font-size: 13px;
        padding: 0;
        clear: both;
        line-height: 1.5;
        padding-top:30px;
        display: block;
    }
    .littledark{
        position: relative;
        left: 500px;
        bottom: 15px;
    }
    .cols-btns {
        left: 560px;
        width: 270px;
    }
    .table .row-links {
        border-bottom: 1px solid #ddd;
        padding: 20px 26px 10px;
        position: relative;
        clear: both;
    }
</style>

<div>
    <div>
        <div class="innerWrapper">
            <div class="col-span-10"></div>
            <div class="clearheight20"></div>
            <div class="clearheight20"></div>
            <ul class="cmtableTabs">
                <li class="tabon">
                    <a href="#">Tests</a>
                </li>
                <li class="taboff">
                    <a href="#">Question Bank</a>
                </li>
            </ul>
            <form>
                {% csrf_token %}

                <div class="table">
                    <div class="table-utility row ">
                        <div class="col-span-1">
                            <div class="dropdown dropdown-x hide_if_no_data">
                                <i class=""></i>
                                <a class="dropdown-toggle no_anchor" href="#">
                                    Options
                                </a>
                                <ul class="dropdown-menu expands">
                                    <li>
                                        <a href="#" class="expandAll">
                                            Expand All
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="collapseAll">
                                            Collapse All
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-span-7">
                            <span class="hide_if_no_data not-ie67">
                                <span class="hide_if_no_data search_filter">
                                </span>
                            </span>
                            <span id="cat_filter" class="hide_if_no_data"></span>
                            <span class="hide_if_no_data not-ie67 dropdown search_filter">
                                <a href="#" class="littledark" data-sort="SortAlpha">
                                    <i class="fa fa-solid fa-filter fa-bounce" aria-hidden="true"></i> Sort
                                </a>
                                <ul class="dropdown-menu filter">
                                    <li>
                                        <a class="sortAlphabetical" href="?alpabetical=True" data-sort="SortAlpha">
                                            Alphabetical
                                        </a>
                                    </li>
                                    <li>
                                        <a class="sortDateAdded" href="?resent=True" data-sort="SortRecent">
                                            Recently Added
                                        </a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                        <div class="col-span-2 col-btns">
                            <a class="btn btn-create" href="{% url 'TestingSystem:home' %}">
                                New Test <span class="caret">&nbsp;</span>
                            </a>
                        </div>
                    </div>

                    <ul class="table-body">
                        <li>
                            {% for object in objects %}
                            <div class="row accordion-toggle scrollTop test_container remove_caret closed">
                                <div class="col-span-6">
                                    <h4 id="toggleButton" class="test-name name">{{ object.title }}</h4>
                                    <ul id="hiddenList" style="display: none;">
                                        <li id="nonem">
                                            <div class="edit-button">
                                                <a
                                                    href="{% url 'TestingSystem:questions' test_id=object.id test_description=object.slug %}">Edit
                                                </a>
                                            </div>
                                            <div class="assign-button">
                                                <a
                                                    href="{% url 'Assign:assign' test_id=object.id test_description=object.slug %}">
                                                    Assign
                                                </a>
                                            </div>
                                        </li>
                                        <div class="row hint">Assigned {{ object.assign_link.all|length }} time:</div>
                                        {% for assign_links in object.assign_link.all %}
                                        <ul class="groups_links_list hover-row">
                                            <li class="row-links">
                                                <div class="col-span-6">
                                                    <p class="link-name name"><a
                                                            href="{% url 'Assign:edit-assign' assign_id=assign_links.id test_description=object.slug %}"
                                                            class="graylink">aas</a></p>
                                                </div>
                                                <div class="cols-btns littledark">
                                                    <a href="#" class="open_embed_links">Links</a> | <a class=""
                                                        href="{% url 'Assign:edit-assign' assign_id=assign_links.id test_description=object.slug %}"
                                                        class="settings_embed_links">Settings</a>
                                                    | <a href="#" class="showTooltip">Preview</a>
                                                    <a href="#" class="btn btn-results">Results</a>
                                                </div>
                                                <div class="linksinafold show-direct-links editor clear" style="display: none;">
                                                    <p><strong>Options for giving access to this Test:</strong></p>
                                                    <p>Test link
                                                        <br><input class="textinput" type="text" size="60"
                                                            value="https://www.classmarker.com/online-test/start/?quiz=9hd64f42c7e455f6"
                                                            onclick="javascript:this.focus();this.select();"
                                                            readonly="readonly">
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <span class="caret">&nbsp;</span>
                            </div>
                            <div class="accordion-fold subrow-container test_groups hide" style="display: block;">
                            </div>
                            {% endfor %}
                        </li>
                    </ul>

                    <div class="row col_center hide" id="load_more_row" style="display: none;">
                        <a href="#" class="loadMore btn ">
                            Load More Tests
                        </a>
                    </div>
                    <input type="hidden" class="loadMoreOnScroll" value="" />

                    <div class="table-utility row row-no-border-bottom bellow">
                        <div class="col-span-8">
                            <div class="dropdown dropdown-x hide_if_no_data_bottom">&nbsp;</div>
                        </div>
                        <div class="col-span-2 col-btns hide_if_no_data_bottom">&nbsp;</div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    const toggleList = (event) => {
        const hiddenList = event.target.nextElementSibling;
        if (hiddenList.style.display === 'none') {
            hiddenList.style.display = 'block';
        } else {
            hiddenList.style.display = 'none';
        }
    };

    document.addEventListener('DOMContentLoaded', () => {
        const toggleButtons = document.querySelectorAll('.test-name.name');

        toggleButtons.forEach((button) => {
            button.addEventListener('click', toggleList);
        });
    });
        $(document).ready(function () {
            $('.cmtableTabs li').click(function () {
                // Remove 'selected' class from all tabs
                $('.cmtableTabs li').removeClass('selected');

                // Add 'selected' class to the clicked tab
                $(this).addClass('selected');
            });
        });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const linksButton = document.querySelector(".open_embed_links");
        const linksinafold = document.querySelector(".linksinafold");

        // Add a click event listener to the "Links" link
        linksButton.addEventListener("click", function (e) {
            e.preventDefault(); // Prevent the default link behavior
            if (linksinafold.style.display === "none" || linksinafold.style.display === "") {
                linksinafold.style.display = "block"; // Show the element
            } else {
                linksinafold.style.display = "none"; // Hide the element
            }
        });
    });
</script>

{% endblock %}