body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f5f5f5, #f0f0f0);
    font-family: Arial, sans-serif;
}

.forgots {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}


.forgot-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}
.forgot-form {
    position: relative;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #007bff;
    color: #333;
    font-size: 16px;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

input:focus + label,
input:valid + label {
    top: -20px;
    font-size: 14px;
    color: #007bff;
}

.button-div {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button-div button:hover {
    background-color: #0056b3;
}