

ul {
    list-style: none;
    padding: 0;
}


li {
    position: relative;
    
    border: 1px solid #ccc;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #ffffff;

    
    
}

h4 {
    margin: 0;
    color: #007bff;
}

p {
    margin: 5px 0;
}



.deletebtn{
    color:red;
}

/* user_profile.css */
/* CSS for positioning the search form */
.search-container {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    z-index: 1;
}

/* Style the search input and button */
.search-container input[type="text"] {
    padding: 5px;
}

.search-container button {
    padding: 5px 10px;
    background-color: #007bff91;
    color: white;
    border: none;
}
.btncolor:hover{
    cursor: pointer;
    background-color: #ffffff;
    background-color: #7e00fc;
}
#btn1:hover{
    cursor: pointer;
    background-color: #7e00fc;
}

#btn1{
    
    border-radius: 7px;
    background-color: #2900f5;
}
#color1{
    color: aliceblue;

}
.post-list{


}
.btn1{
    left: 10%;
}

#input1{
    text-align:center;
}



.iconhome{
    width:50px;
    height:50px;
    position: fixed; /* Fixed position */
    top: 0; /* Place at the top */
    right: 0; /* Place at the right */
    padding: 10px; /* Add some padding to the container for spacing */

}

#blogButton{
    position:fixed;
    top:0;
    right:0;
    right:80px;
    margin-top:22px;
    padding:3px;
    height:35px;
    border-radius:10px;
    background-color:blue;
}

#blogButton:hover{
    cursor: pointer;
    background-color: red;
}