<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot_password</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="container" >
    <a href="{% url 'home'%}"><img class="iconhome" src="{% static 'ikon/house-solid.svg' %}" alt="Icon Description" width="50" height="50" style="position:absolute; left:930px; margin-bottom:320px;"></a>
    <br><br>
    <h2 style="text-align:center ;">Create a New Post</h2>
    <form method="post" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title</label>
            {{ form.title }}
        </div>
        <div class="form-group" >
            <label for="{{ form.picture.id_for_label }}">Picture</label>
            {{ form.picture }}
        </div>
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Description</label>
            {{ form.description }}
        </div>

        <button type="submit">Create Post</button>
    </form>
</div>

</body>
</html>

