<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot_password</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT81kmFNrw8tl4UW2Rdpfw_8_d0H9-Ri555wA&usqp=CAU'); background-size: cover;">
<div class="container">
    <h2>Create a New Post</h2>
    <form method="post" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="{{ form.picture.id_for_label }}">Picture</label>
            {{ form.picture }}
        </div>
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Description</label>
            {{ form.description }}
        </div>

        <button type="submit">Create Post</button>
    </form>
</div>

</body>
</html>

