<!DOCTYPE html>
{%load static%}
<html>
<head>
    <title>ChangePassword</title>
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
</head>
<body>
    <h1>Change_password</h1>
    <p>Your email has been successfully sent.</p>
    <h2>please try enter your secret token</h2>
        <div class="token-secret">
            <form method="post">
                {%csrf_token%}
                <div class="form-group">
                    <label for="id_password" style="color:black;">NewPassword</label>
                    <input type="password" name="password" id="id_password" class="password-field">
                </div>
                    <button class="token-button" type="submit">ChangePassword</button>
            </form>
        </div>
</body>
</html