{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{% static 'css/editPost.css' %}">
    <title>EditPost</title>
</head>
<body>
     <h1 id="navbarEdit" style="text-align: center; ">Edit post:</h1>

  <form id="bttn" action="{% url 'edit_post' post.id post.slug %}" method='post' style="text-align: center; ">
      {% csrf_token %}
      {{ form.as_p }}
      <button  id="btnn"  name="submit">Save changes</button>
  </form>

</body>
</html>