<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot_password</title>
    <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
</head>
<body style="background-image: url('{% static 'css/register.jpg' %}'); background-size: cover;">
    <div class="container">
        <h1>Login</h1>
        <!-- Display the error message div -->
        <div id="error-message" class="error-message"></div>

        <form method="post" id="forgot-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="email" style="color:black;">Enter your email</label>
                <input type="email" name="email" id="email">
            </div>

            <button type="submit">SEND EMAIL</button>
        </form>

</body>
</html>
