<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="{% static 'css/forgot.css' %}">
</head>

<body>
    <div class="forgots">
        <div class="forgot-container">
            <h1>Forgot password</h1>
            <form method="post">
                {%csrf_token%}
                <div class="forgot-form">
                    <label for="email">Email</label>
                    <input class="email" type="email" id="email" name="email" placeholder="Enter your older email..." required>
                </div>
                <div class="button-div">
                    <button type="submit">SEND</button>
                </div>
            </form>
        </div>

    </div>
</body>
</html>