<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="h1color">Welcome to the our site</h1>
        {% if request.user.is_authenticated %}
            <div class="button-container">
                <button class="button" onclick="redirectTo('create_test')" id="createTestButton">Create Test</button>
                <button class="button" onclick="redirectTo('create_questionnaire')" id="createQuestionnaireButton">Create Questionnaire</button>
            </div>
        {% else %}
            <div class="button-container">
                <button class="button" onclick="redirectTo('create_test')" id="createTestButton">Create Test</button>
                <button class="button" onclick="redirectTo('create_questionnaire')" id="createQuestionnaireButton">Create Questionnaire</button>
            </div>
        {% endif %}
    </div>
    <script src="{% static 'js/index.js'%}"></script>
</body>
</html>
