<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        {% if request.user.is_authenticated %}
            <p>Hello, {{ request.user.username }}, how are you?</p>
            <a href="{% url 'logout' %}" class="logout-link">Logout</a>

        {% else %}
            <p>Hello and welcome!</p>
            <a href="{% url 'login' %}" class="login-link">Login</a>
        {% endif %}
    </div>
</body>
</html>
