<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body style="background-image: url('{% static 'css/register.jpg' %}'); background-size: cover;">
        {% if request.user.is_authenticated %}
            <p>Hello, {{ request.user.username }}, how are you?</p>
            <a href="{% url 'logout' %}" class="logout-link">Logout</a>
        {% else %}
             <div class="container">
        <h1>Login</h1>
        <!-- Display the error message div -->
        <div id="error-message" class="error-message"></div>

        <form method="post" id="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username" style="color:black;">Username</label>
                <input type="text" name="username" id="id_username">
            </div>
            <div class="form-group">
                <label for="id_password" style="color:black;">Password</label>
                <input type="password" name="password" id="id_password" class="password-field">
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="showPassword">Show Password
            </div>
            <button type="submit">Log In</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
        <p>You are forgotten password? <a href="{%url 'password_reset'%}">ForgotPassword</a></p>
    </div>

    <script>
        // Toggle password visibility
        function togglePasswordVisibility() {
            var passwordField = document.getElementById('id_password');
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        }

        document.getElementById('showPassword').addEventListener('change', function() {
            togglePasswordVisibility();
        });

        // You can add more JavaScript code here for validation if needed
    </script>
        {% endif %}
<!--    <div class="container">-->
<!--        <h1>Login</h1>-->
<!--        &lt;!&ndash; Display the error message div &ndash;&gt;-->
<!--        <div id="error-message" class="error-message"></div>-->

<!--        <form method="post" id="login-form">-->
<!--            {% csrf_token %}-->
<!--            <div class="form-group">-->
<!--                <label for="id_username" style="color:black;">Username</label>-->
<!--                <input type="text" name="username" id="id_username">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="id_password" style="color:black;">Password</label>-->
<!--                <input type="password" name="password" id="id_password" class="password-field">-->
<!--            </div>-->
<!--            <div class="checkbox-group">-->
<!--                <input type="checkbox" id="showPassword">Show Password-->
<!--            </div>-->
<!--            <button type="submit">Log In</button>-->
<!--        </form>-->
<!--        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>-->
<!--        <p>You are forgotten password? <a href="{%url 'password_reset'%}">ForgotPassword</a></p>-->
<!--    </div>-->

<!--    <script>-->
<!--        // Toggle password visibility-->
<!--        function togglePasswordVisibility() {-->
<!--            var passwordField = document.getElementById('id_password');-->
<!--            if (passwordField.type === 'password') {-->
<!--                passwordField.type = 'text';-->
<!--            } else {-->
<!--                passwordField.type = 'password';-->
<!--            }-->
<!--        }-->

<!--        document.getElementById('showPassword').addEventListener('change', function() {-->
<!--            togglePasswordVisibility();-->
<!--        });-->

<!--        // You can add more JavaScript code here for validation if needed-->
<!--    </script>-->
</body>
</html>
