<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/reset_confirm.css' %}">
</head>
<body>

    <div class="container">
        <h2>Password Reset</h2>
        <p>Enter your new password:</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit">Reset Password</button>
        </form>
    </div>

</body>
</html>
