<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css'%}">
    <title>Password Reset</title>
</head>
<body>
    <div class="container">
        <h2>Password Reset</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.email.label_tag }}
            {{ form.email }}
            <button type="submit">Send Reset Email</button>
        </form>
         <p class="return-link">Return to <a href="{% url 'login' %}">Login</a></p>
    </div>
</body>
</html>