{%load static%}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/share_post.css' %}">
    <title>Copy Link</title>
</head>
<body>
    <a href="{% url 'home'%}"><img class="iconhome" src="{% static 'ikon/house-solid.svg' %}" alt="Icon Description" width="100" height="100" style="position:absolute; left:900px; margin-top:300px;"></a>
    <div class="centered-container">
        <input type="text" id="postLink" value="{{ post_url.get_absolute_url}}">
        <button class="btn3" id="copyLinkButton">Copy Link</button>
    </div>

    <script>
        document.getElementById("copyLinkButton").addEventListener("click", function() {
            const postLink = document.getElementById("postLink");
            postLink.select();
            document.execCommand("copy");
            postLink.setSelectionRange(0, 0);
            this.textContent = "Link Copied!";
            this.style.backgroundColor = "green"; // Change button color to green
        });
    </script>
</body>
</html>


