<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
</head>

<body style="background-image: url('{% static 'css/register.jpg' %}'); background-size: cover;">

    <header style="background-color: indigo; padding: 20px; margin-top: -19px;
    padding-left: 20px; border-radius: 10px;
    ">
        <h2 style="color:#ffff ;">Welcome to Your Profile, {{ request.user.username }}!</h2>

        <a href="{% url 'home'%}"><img class="iconhome" src="{% static 'ikon/house-solid.svg' %}" alt="Icon Description"></a>
        <button id="blogButton"><bold>CreatePost</bold></button>
        <script src="{% static 'js/createblog.js' %}"></script>
        <!-- Search Form -->
        <form method="GET" id="input1">
            {{form.query}}
            <button class="btncolor" type="submit" style="padding: 5px; border-radius:8px ">Searching</button>
        </form>
    </header>

    <main>
        {% if user_posts %}
        <ul class="post-list">
            {% for post in user_posts %}
            <li class="post-item">
                <h4><a href="{% url 'edds' post.slug %}">{{ post.title }}</a></h4>
                <div class="post-description">{{ post.description|slice:":20" }}...</div>
                <img src="{{ post.picture.url }}" alt="Post Image" class="post-image" style="width:200px;
    height:200px;">
                <div class="post-details">
                    <p><a href="{% url 'posts' post.id post.slug %}">Published: {{ post.publish }}</a></p>
                    <button id="btn1" type="button" class="deletebtn"><a id="color1"
                            href="{% url 'delete_post' post.id post.slug %}">Delete</a></button>
                    <button id="btn1" type="button" class="editpost"><a id="color1" href="{% url 'edit_post' post.id post.slug %}">Edit
                            Post</a></button>
                    <button id="btn1" type="button" class="sharepost"><a id="color1"
                            href="{% url 'share_post' post.id post.slug %}"><strong>Share Post</strong></a></button>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="no-posts">You have no posts 😕.</p>
        {% endif %}
    </main>
</body>

</html>